<% include partials/headeren %>
<%include partials/sidebaren %>
        <div class="twelve wide column" style="margin-top:40px">
          <h2 class="ui header">
                <img  src="<%= match.image %>" height="200px" width="200px">
                <div class="content">
                <%= match.name %>
                </div>
            </h2>    
            <hr style="margin-right:40px">
            <h3>Player Stats</h3>
            <!-- <a href="/dashboard/mymatches/<%= match._id %>/newplayer"><button class="ui inverted primary button">Add New Player Stats</button></a> -->
            <div class="team" style="margin-top:30px;margin-right:40px">
                <table class="ui single line table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>No Of Matches</th>
                        <th>No of Balls Faced</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% player.forEach(function(player){ %>
                      <tr>
                        <td><%= player.name%></td>
                        <td><%= player.nomatch %></td>
                        <td><%= player.BF%></td>
                        <td><a href="/dashboarden/mymatches/<%= match._id %>/<%= player._id %>"><div class="ui button">View Complete Stats</div></a></td>
                      </tr>
                      <% }) %>
                       </tbody>
                </table>
            </div>
        </div>
    </div>
<% include partials/footer %>